1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
#doing only the second part
t = ()
for i in range(1, 101):
    if i %3 == 0:
        t += ('Mickey',)
    if i %5 == 0:
        t += ('Mouse',)
    if i %3 == 0 and i%5 == 0:
        t+= ('Mickey Mouse',)
    else:
        t+= (i,)
t
t_chng = tuple('Donald' if 'Mickey' in str(x) else 'Duck' if 'Mouse' in str(x) else x for x in t)
t_chng

(1,
 2,
 'Donald',
 3,
 4,
 'Duck',
 5,
 'Donald',
 6,
 7,
 8,
 'Donald',
 9,
 'Duck',
 10,
 11,
 'Donald',
 12,
 13,
 14,
 'Donald',
 'Duck',
 'Donald',
 16,
 17,
 'Donald',
 18,
 19,
 'Duck',
 20,
 'Donald',
 21,
 22,
 23,
 'Donald',
 24,
 'Duck',
 25,
 26,
 'Donald',
 27,
 28,
 29,
 'Donald',
 'Duck',
 'Donald',
 31,
 32,
 'Donald',
 33,
 34,
 'Duck',
 35,
 'Donald',
 36,
 37,
 38,
 'Donald',
 39,
 'Duck',
 40,
 41,
 'Donald',
 42,
 43,
 44,
 'Donald',
 'Duck',
 'Donald',
 46,
 47,
 'Donald',
 48,
 49,
 'Duck',
 50,
 'Donald',
 51,
 52,
 53,
 'Donald',
 54,
 'Duck',
 55,
 56,
 'Donald',
 57,
 58,
 59,
 'Donald',
 'Duck',
 'Donald',
 61,
 62,
 'Donald',
 63,
 64,
 'Duck',
 65,
 'Donald',
 66,
 67,
 68,
 'Donald',
 69,
 'Duck',
 70,
 71,
 'Donald',
 72,
 73,
 74,
 'Donald',
 'Duck',
 'Donald',
 76,
 77,
 'Donald',
 78,
 79,
 'Duck',
 80,
 'Donald',
 81,
 82,
 83,
 'Donald',
 84,
 'Duck',
 85,
 86,
 'Donald',
 87,
 88,
 89,
 'Donald',
 'Duck',
 'Donald',
 91,
 92,
 'Donald',
 93,
 94,
 'Duck',
 95,
 'Donald',
 96,
 97,
 98,
 'Donald',
 99,
 'Duck',
 100)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def func(x, y):
    return y, x

x  = 4
y = 6
x, y = func(x, y)
print('x = ', x, ', y =', y)

x =  6 , y = 4

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import numpy as np 
def dist(u, v):
    summ = 0
    for ui, vi in zip(u, v):
        summ += ui ** 2 + vi**2
    return np.sqrt(summ)
      
u = (3, 0)
v = (0, 4)

print("Distance is: ", dist(u, v))

Distance is:  5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [41]:
line = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
abc  ='abcdefghijklmnopqrstuvwxyz \.'
num = '0123456789'

D = {}
line = line.lower()

for j in abc:
    D[str(j)] = 0
for k in num:
    D[str(k)] = 0

for i in line:
    D[str(i)] += 1
        
print(D)

{'a': 7, 'b': 5, 'c': 3, 'd': 3, 'e': 22, 'f': 10, 'g': 1, 'h': 9, 'i': 14, 'j': 0, 'k': 2, 'l': 6, 'm': 12, 'n': 10, 'o': 13, 'p': 8, 'q': 0, 'r': 17, 's': 9, 't': 19, 'u': 9, 'v': 2, 'w': 2, 'x': 0, 'y': 2, 'z': 0, ' ': 41, '\\': 0, '.': 2, '0': 2, '1': 2, '2': 0, '3': 0, '4': 0, '5': 0, '6': 0, '7': 0, '8': 0, '9': 0}

In [18]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [44]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [78]:

counter = 0
for i in range(len(l)):
    summ = 0
    for j in range(len(l)):
        
        #if i == j:
         #   None
        
        
        if l[i] == l[j]:
            None
        
        elif l[i] != l[j]:
            summ += 1
    
    if summ == len(l) - 1:
        counter += 1


unique_numbers = set(l)

# Calculate the number of unique numbers
num_unique_numbers = len(unique_numbers)
print(num_unique_numbers, counter)

54 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [79]:
def square(x):
    return x** 2

def cube(x):
    return x**3

def sisxth(x):
    return square(x) * cube(x)

sisxth(2)

32

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [84]:
x = np.arange(0, 11)
print(x)
L = []
for i in range(11):
    L.append(i)
print(L)
M = [i for i in range(11)]
print(M)

[ 0  1  2  3  4  5  6  7  8  9 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [99]:
def ispyth(a, b, c):
    if a** 2+ b**2 == c**2 :
        return True
    else:
        return False
R = 100
count = 0
for a in range(1, R):
    for b in range(1, R):
        for c in range(1, R):
            if ispyth(a, b, c) == True:
                count += 1
                #print(a, b, c)

L = [(a, b, c) for a in range(1, R) for b in range(1, R) for c in range(1, R) if ispyth(a, b, c) == True]
print(L)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [107]:
def normalization(t):
    summ = sum(t)
    s = ()
    for j in t:
        s += (j/summ,)
    return s
print(normalization((4,5)))

(0.4444444444444444, 0.5555555555555556)