# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [2]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [3]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [4]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [5]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a    0.484681
b   -0.536267
c   -0.804752
d    0.427893
e   -1.474456
dtype: float64
a         NaN
b   -1.072534
c   -1.609505
d    0.855786
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas has a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [6]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2023,11,22,10,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 22 2023'
# or alternatively
date = '22/11/2023 10:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2024-01-18
2023-11-22 10:45:10.000015
22/11/2023 10:45:00
DatetimeIndex(['2023-11-22 10:45:00', '2023-11-23 10:45:00',
               '2023-11-24 10:45:00', '2023-11-25 10:45:00',
               '2023-11-26 10:45:00', '2023-11-27 10:45:00',
               '2023-11-28 10:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2023-11-22 10:45:00', '2023-11-22 10:45:01',
               '2023-11-22 10:45:02', '2023-11-22 10:45:03',
               '2023-11-22 10:45:04', '2023-11-22 10:45:05',
               '2023-11-22 10:45:06', '2023-11-22 10:45:07',
               '2023-11-22 10:45:08', '2023-11-22 10:45:09',
               ...
               '2023-11-22 11:44:50', '2023-11-22 11:44:51',
               '2023-11-22 11:44:52', '2023-11-22 11:44:53',
               '2023-11-22 11:44:54', '2023-11-22 11:44:55',
               '2023-11-22 11:44:56', '2023-11-22 11:44:57',
               '2023-11-22 11:44:58', '2023-11-22 11:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset.

Timestamp is the pandas equivalent of pythonâ€™s Datetime and is interchangeable with it in most cases.

In [7]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts.value)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
1289520000000000000
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [8]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2023-11-22':'2023-11-28'], '\n') # Note - includes end time

2023-11-22 10:45:00     9.756868
2023-11-23 10:45:00    11.077295
2023-11-24 10:45:00     8.497254
2023-11-25 10:45:00    11.408800
Freq: D, dtype: float64

2023-11-22 10:45:00     9.756868
2023-11-23 10:45:00    11.077295
2023-11-24 10:45:00     8.497254
2023-11-25 10:45:00    11.408800
2023-11-26 10:45:00    10.584338
2023-11-27 10:45:00    10.237528
2023-11-28 10:45:00     9.963908
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [9]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [10]:
entries=10
dates=pd.date_range('11/22/2023 10:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2023-11-22 10:45:00  0.481385  0.950335 -0.721894 -0.193404
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662 -0.505650
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  0.188409
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652  0.234822
2023-11-22 14:45:00  0.713796 -0.990686 -0.639262  0.966753
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171 -0.096367
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  1.740789
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  0.674197
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448 -1.721962
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828 -0.496364

or by means of a dictionary:

In [11]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

# check what happens if D and E had different lenghts

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [12]:
df.head(2)

                            A         B         C         D
2023-11-22 10:45:00  0.481385  0.950335 -0.721894 -0.193404
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662 -0.505650

In [13]:
df.tail(4)

                            A         B         C         D
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  1.740789
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  0.674197
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448 -1.721962
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828 -0.496364

In [14]:
df.index

DatetimeIndex(['2023-11-22 10:45:00', '2023-11-22 11:45:00',
               '2023-11-22 12:45:00', '2023-11-22 13:45:00',
               '2023-11-22 14:45:00', '2023-11-22 15:45:00',
               '2023-11-22 16:45:00', '2023-11-22 17:45:00',
               '2023-11-22 18:45:00', '2023-11-22 19:45:00'],
              dtype='datetime64[ns]', freq='H')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.values

array([[ 0.4813849 ,  0.9503352 , -0.72189354, -0.19340441],
       [ 0.16094323, -1.7570028 , -0.62466194, -0.50565002],
       [-0.00440615,  2.19494506, -1.69082957,  0.18840902],
       [-0.58737389, -1.96199178, -1.49665163,  0.23482231],
       [ 0.71379555, -0.99068648, -0.63926162,  0.9667532 ],
       [-0.62711602, -0.84779878, -0.56417054, -0.09636674],
       [-0.21388851, -1.21008888,  0.6203951 ,  1.74078903],
       [-0.11980908, -2.1828193 ,  0.78696032,  0.67419706],
       [-0.09356026, -0.39054652, -1.21944762, -1.72196165],
       [-0.28421817, -0.25859484, -0.36382828, -0.49636367]])

In [17]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.057425  -0.645425  -0.591339   0.079122
std     0.424539   1.359751   0.807186   0.940534
min    -0.627116  -2.182819  -1.690830  -1.721962
25%    -0.266636  -1.620274  -1.095059  -0.420624
50%    -0.106685  -0.919243  -0.631962   0.046021
75%     0.119606  -0.291583  -0.413914   0.564353
max     0.713796   2.194945   0.786960   1.740789

In [18]:
df.T

,2023-11-22 10:45:00,2023-11-22 11:45:00,2023-11-22 12:45:00,2023-11-22 13:45:00,2023-11-22 14:45:00,2023-11-22 15:45:00,2023-11-22 16:45:00,2023-11-22 17:45:00,2023-11-22 18:45:00,2023-11-22 19:45:00
A,0.481385,0.160943,-0.004406,-0.587374,0.713796,-0.627116,-0.213889,-0.119809,-0.093560,-0.284218
B,0.950335,-1.757003,2.194945,-1.961992,-0.990686,-0.847799,-1.210089,-2.182819,-0.390547,-0.258595
C,-0.721894,-0.624662,-1.690830,-1.496652,-0.639262,-0.564171,0.620395,0.786960,-1.219448,-0.363828
D,-0.193404,-0.505650,0.188409,0.234822,0.966753,-0.096367,1.740789,0.674197,-1.721962,-0.496364

In [19]:
df.sort_index(axis=0,ascending=False)

                            A         B         C         D
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828 -0.496364
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448 -1.721962
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  0.674197
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  1.740789
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171 -0.096367
2023-11-22 14:45:00  0.713796 -0.990686 -0.639262  0.966753
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652  0.234822
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  0.188409
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662 -0.505650
2023-11-22 10:45:00  0.481385  0.950335 -0.721894 -0.193404

In [20]:
df.sort_values(by="C")

                            A         B         C         D
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  0.188409
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652  0.234822
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448 -1.721962
2023-11-22 10:45:00  0.481385  0.950335 -0.721894 -0.193404
2023-11-22 14:45:00  0.713796 -0.990686 -0.639262  0.966753
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662 -0.505650
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171 -0.096367
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828 -0.496364
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  1.740789
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  0.674197

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [21]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2023-11-22 10:45:00    0.481385
2023-11-22 11:45:00    0.160943
2023-11-22 12:45:00   -0.004406
2023-11-22 13:45:00   -0.587374
2023-11-22 14:45:00    0.713796
2023-11-22 15:45:00   -0.627116
2023-11-22 16:45:00   -0.213889
2023-11-22 17:45:00   -0.119809
2023-11-22 18:45:00   -0.093560
2023-11-22 19:45:00   -0.284218
Freq: H, Name: A, dtype: float64

2023-11-22 10:45:00    0.481385
2023-11-22 11:45:00    0.160943
2023-11-22 12:45:00   -0.004406
2023-11-22 13:45:00   -0.587374
2023-11-22 14:45:00    0.713796
2023-11-22 15:45:00   -0.627116
2023-11-22 16:45:00   -0.213889
2023-11-22 17:45:00   -0.119809
2023-11-22 18:45:00   -0.093560
2023-11-22 19:45:00   -0.284218
Freq: H, Name: A, dtype: float64

In [22]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2023-11-22 10:45:00":"2023-11-22 12:45:00"])

                            A         B         C         D
2023-11-22 10:45:00  0.481385  0.950335 -0.721894 -0.193404
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662 -0.505650
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  0.188409
                            A         B         C         D
2023-11-22 10:45:00  0.481385  0.950335 -0.721894 -0.193404
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662 -0.505650
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  0.188409

### Selection by label

In [23]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A    0.481385
B    0.950335
C   -0.721894
D   -0.193404
Name: 2023-11-22 10:45:00, dtype: float64

In [24]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
#a=df.loc[:,['A','B']]

                            A         B
2023-11-22 10:45:00  0.481385  0.950335
2023-11-22 11:45:00  0.160943 -1.757003
2023-11-22 12:45:00 -0.004406  2.194945
2023-11-22 13:45:00 -0.587374 -1.961992
2023-11-22 14:45:00  0.713796 -0.990686
2023-11-22 15:45:00 -0.627116 -0.847799
2023-11-22 16:45:00 -0.213889 -1.210089
2023-11-22 17:45:00 -0.119809 -2.182819
2023-11-22 18:45:00 -0.093560 -0.390547
2023-11-22 19:45:00 -0.284218 -0.258595

In [25]:
# showing label slicing, both endpoints are included:
df.loc['2023-11-22 14:45:00':'2023-11-22 16:45:00',['A','B']]

                            A         B
2023-11-22 14:45:00  0.713796 -0.990686
2023-11-22 15:45:00 -0.627116 -0.847799
2023-11-22 16:45:00 -0.213889 -1.210089

In [26]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

0.16094323256442872
0.16094323256442872

### Selecting by position

In [27]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A   -0.587374
B   -1.961992
C   -1.496652
D    0.234822
Name: 2023-11-22 13:45:00, dtype: float64

                            A         B
2023-11-22 13:45:00 -0.587374 -1.961992
2023-11-22 14:45:00  0.713796 -0.990686

In [28]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2023-11-22 11:45:00  0.160943 -0.624662
2023-11-22 12:45:00 -0.004406 -1.690830
2023-11-22 14:45:00  0.713796 -0.639262

In [29]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662 -0.505650
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  0.188409

                            B         C
2023-11-22 10:45:00  0.950335 -0.721894
2023-11-22 11:45:00 -1.757003 -0.624662
2023-11-22 12:45:00  2.194945 -1.690830
2023-11-22 13:45:00 -1.961992 -1.496652
2023-11-22 14:45:00 -0.990686 -0.639262
2023-11-22 15:45:00 -0.847799 -0.564171
2023-11-22 16:45:00 -1.210089  0.620395
2023-11-22 17:45:00 -2.182819  0.786960
2023-11-22 18:45:00 -0.390547 -1.219448
2023-11-22 19:45:00 -0.258595 -0.363828

In [30]:
# selecting an individual element by position
df.iloc[1,1]
#df.iat[1,1]

-1.7570027994753852

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [31]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2023-11-22 10:45:00  0.481385  0.950335 -0.721894 -0.193404
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  0.188409

In [32]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2023-11-22 10:45:00  0.481385  0.950335       NaN       NaN
2023-11-22 11:45:00  0.160943       NaN       NaN       NaN
2023-11-22 12:45:00       NaN  2.194945       NaN  0.188409
2023-11-22 13:45:00       NaN       NaN       NaN  0.234822
2023-11-22 14:45:00  0.713796       NaN       NaN  0.966753
2023-11-22 15:45:00       NaN       NaN       NaN       NaN
2023-11-22 16:45:00       NaN       NaN  0.620395  1.740789
2023-11-22 17:45:00       NaN       NaN  0.786960  0.674197
2023-11-22 18:45:00       NaN       NaN       NaN       NaN
2023-11-22 19:45:00       NaN       NaN       NaN       NaN

### Setting

Combination of selection and setting of values

In [33]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

C:\Users\adadi\AppData\Local\Temp\ipykernel_7344\2488593994.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,'D'] = np.array([5] * len(df))

In [34]:
df

                            A         B         C  D    E  E prime
2023-11-22 10:45:00  0.000000  0.950335 -0.721894  5  0.0        0
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662  5  0.5        2
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  5  1.0        4
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652  5  1.5        6
2023-11-22 14:45:00  0.713796 -0.990686 -0.639262  5  2.0        8
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171  5  2.5       10
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  5  3.0       12
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  5  3.5       14
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448  5  4.0       16
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828  5  4.5       18

In [35]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2023-11-22 10:45:00  0.000000  0.950335 -0.721894  5  0.0        0  1.000000
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662  5  0.5        2  0.999962
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  5  1.0        4  0.999848
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652  5  1.5        6  0.999657
2023-11-22 14:45:00  0.713796 -0.990686 -0.639262  5  2.0        8  0.999391
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171  5  2.5       10  0.999048
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  5  3.0       12  0.998630
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  5  3.5       14  0.998135
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448  5  4.0       16  0.997564
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828  5  4.5       18  0.996917

In [36]:
# another example of global setting
df2=df.copy()

df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2023-11-22 10:45:00  0.000000 -0.950335 -0.721894 -5  0.0        0 -1.000000
2023-11-22 11:45:00 -0.160943 -1.757003 -0.624662 -5 -0.5       -2 -0.999962
2023-11-22 12:45:00 -0.004406 -2.194945 -1.690830 -5 -1.0       -4 -0.999848
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652 -5 -1.5       -6 -0.999657
2023-11-22 14:45:00 -0.713796 -0.990686 -0.639262 -5 -2.0       -8 -0.999391
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171 -5 -2.5      -10 -0.999048
2023-11-22 16:45:00 -0.213889 -1.210089 -0.620395 -5 -3.0      -12 -0.998630
2023-11-22 17:45:00 -0.119809 -2.182819 -0.786960 -5 -3.5      -14 -0.998135
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448 -5 -4.0      -16 -0.997564
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828 -5 -4.5      -18 -0.996917

In [37]:
df

                            A         B         C  D    E  E prime    cosine
2023-11-22 10:45:00  0.000000  0.950335 -0.721894  5  0.0        0  1.000000
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662  5  0.5        2  0.999962
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  5  1.0        4  0.999848
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652  5  1.5        6  0.999657
2023-11-22 14:45:00  0.713796 -0.990686 -0.639262  5  2.0        8  0.999391
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171  5  2.5       10  0.999048
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  5  3.0       12  0.998630
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  5  3.5       14  0.998135
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448  5  4.0       16  0.997564
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828  5  4.5       18  0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [38]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
new_df=df.drop(columns=['E prime'])
new_df

                            A         B         C  D    E    cosine
2023-11-22 10:45:00  0.000000  0.950335 -0.721894  5  0.0  1.000000
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662  5  0.5  0.999962
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  5  1.0  0.999848
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652  5  1.5  0.999657
2023-11-22 14:45:00  0.713796 -0.990686 -0.639262  5  2.0  0.999391
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171  5  2.5  0.999048
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  5  3.0  0.998630
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  5  3.5  0.998135
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448  5  4.0  0.997564
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828  5  4.5  0.996917

In [39]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2023-11-22 10:45:00  0.000000  0.950335 -0.721894  5  0.0        0  1.000000
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171  5  2.5       10  0.999048
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  5  3.0       12  0.998630
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  5  3.5       14  0.998135
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448  5  4.0       16  0.997564
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828  5  4.5       18  0.996917

In [40]:
df

                            A         B         C  D    E  E prime    cosine
2023-11-22 10:45:00  0.000000  0.950335 -0.721894  5  0.0        0  1.000000
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662  5  0.5        2  0.999962
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  5  1.0        4  0.999848
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652  5  1.5        6  0.999657
2023-11-22 14:45:00  0.713796 -0.990686 -0.639262  5  2.0        8  0.999391
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171  5  2.5       10  0.999048
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  5  3.0       12  0.998630
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  5  3.5       14  0.998135
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448  5  4.0       16  0.997564
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828  5  4.5       18  0.996917

In [41]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2023-11-22 18:45:00"))

                            A         B         C  D    E  E prime    cosine
2023-11-22 10:45:00  0.000000  0.950335 -0.721894  5  0.0        0  1.000000
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662  5  0.5        2  0.999962
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  5  1.0        4  0.999848
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652  5  1.5        6  0.999657
2023-11-22 14:45:00  0.713796 -0.990686 -0.639262  5  2.0        8  0.999391
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171  5  2.5       10  0.999048
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  5  3.0       12  0.998630
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  5  3.5       14  0.998135
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [42]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2023-11-22 10:45:00       NaN  0.950335       NaN  5  NaN      NaN  1.000000
2023-11-22 11:45:00  0.160943       NaN       NaN  5  0.5      2.0  0.999962
2023-11-22 12:45:00       NaN  2.194945       NaN  5  1.0      4.0  0.999848
2023-11-22 13:45:00       NaN       NaN       NaN  5  1.5      6.0  0.999657
2023-11-22 14:45:00  0.713796       NaN       NaN  5  2.0      8.0  0.999391
2023-11-22 15:45:00       NaN       NaN       NaN  5  2.5     10.0  0.999048
2023-11-22 16:45:00       NaN       NaN  0.620395  5  3.0     12.0  0.998630
2023-11-22 17:45:00       NaN       NaN  0.786960  5  3.5     14.0  0.998135
2023-11-22 18:45:00       NaN       NaN       NaN  5  4.0     16.0  0.997564
2023-11-22 19:45:00       NaN       NaN       NaN  5  4.5     18.0  0.996917

In [43]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, E, E prime, cosine]
Index: []

In [44]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2023-11-22 10:45:00   True  False   True  False   True     True   False
2023-11-22 11:45:00  False   True   True  False  False    False   False
2023-11-22 12:45:00   True  False   True  False  False    False   False
2023-11-22 13:45:00   True   True   True  False  False    False   False
2023-11-22 14:45:00  False   True   True  False  False    False   False
2023-11-22 15:45:00   True   True   True  False  False    False   False
2023-11-22 16:45:00   True   True  False  False  False    False   False
2023-11-22 17:45:00   True   True  False  False  False    False   False
2023-11-22 18:45:00   True   True   True  False  False    False   False
2023-11-22 19:45:00   True   True   True  False  False    False   False

In [45]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2023-11-22 10:45:00  0.000000  0.950335  0.000000  5  0.0      0.0  1.000000
2023-11-22 11:45:00  0.160943  0.000000  0.000000  5  0.5      2.0  0.999962
2023-11-22 12:45:00  0.000000  2.194945  0.000000  5  1.0      4.0  0.999848
2023-11-22 13:45:00  0.000000  0.000000  0.000000  5  1.5      6.0  0.999657
2023-11-22 14:45:00  0.713796  0.000000  0.000000  5  2.0      8.0  0.999391
2023-11-22 15:45:00  0.000000  0.000000  0.000000  5  2.5     10.0  0.999048
2023-11-22 16:45:00  0.000000  0.000000  0.620395  5  3.0     12.0  0.998630
2023-11-22 17:45:00  0.000000  0.000000  0.786960  5  3.5     14.0  0.998135
2023-11-22 18:45:00  0.000000  0.000000  0.000000  5  4.0     16.0  0.997564
2023-11-22 19:45:00  0.000000  0.000000  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [46]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2023-11-22 10:45:00       NaN  0.950335       NaN  5  NaN      NaN  1.000000
2023-11-22 11:45:00  0.160943  0.950335       NaN  5  0.5      2.0  0.999962
2023-11-22 12:45:00  0.160943  2.194945       NaN  5  1.0      4.0  0.999848
2023-11-22 13:45:00  0.160943  2.194945       NaN  5  1.5      6.0  0.999657
2023-11-22 14:45:00  0.713796  2.194945       NaN  5  2.0      8.0  0.999391
2023-11-22 15:45:00  0.713796  2.194945       NaN  5  2.5     10.0  0.999048
2023-11-22 16:45:00  0.713796  2.194945  0.620395  5  3.0     12.0  0.998630
2023-11-22 17:45:00  0.713796  2.194945  0.786960  5  3.5     14.0  0.998135
2023-11-22 18:45:00  0.713796  2.194945  0.786960  5  4.0     16.0  0.997564
2023-11-22 19:45:00  0.713796  2.194945  0.786960  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [47]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A         -0.105563
B         -0.645425
C         -0.591339
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2023-11-22 10:45:00    0.889777
2023-11-22 11:45:00    0.897034
2023-11-22 12:45:00    1.642794
2023-11-22 13:45:00    1.350520
2023-11-22 14:45:00    2.154748
2023-11-22 15:45:00    2.351423
2023-11-22 16:45:00    2.885007
2023-11-22 17:45:00    3.140352
2023-11-22 18:45:00    3.470573
2023-11-22 19:45:00    3.941468
Freq: H, dtype: float64

In [48]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2023-11-22 10:45:00  0.000000  0.950335 -0.721894   5   0.0        0  1.000000
2023-11-22 11:45:00  0.160943 -0.806668 -1.346555  10   0.5        2  1.999962
2023-11-22 12:45:00  0.156537  1.388277 -3.037385  15   1.5        6  2.999810
2023-11-22 13:45:00 -0.430837 -0.573714 -4.534037  20   3.0       12  3.999467
2023-11-22 14:45:00  0.282959 -1.564401 -5.173298  25   5.0       20  4.998858
2023-11-22 15:45:00 -0.344157 -2.412200 -5.737469  30   7.5       30  5.997906
2023-11-22 16:45:00 -0.558046 -3.622288 -5.117074  35  10.5       42  6.996536
2023-11-22 17:45:00 -0.677855 -5.805108 -4.330113  40  14.0       56  7.994670
2023-11-22 18:45:00 -0.771415 -6.195654 -5.549561  45  18.0       72  8.992234
2023-11-22 19:45:00 -1.055633 -6.454249 -5.913389  50  22.5       90  9.989152

In [49]:
df

                            A         B         C  D    E  E prime    cosine
2023-11-22 10:45:00  0.000000  0.950335 -0.721894  5  0.0        0  1.000000
2023-11-22 11:45:00  0.160943 -1.757003 -0.624662  5  0.5        2  0.999962
2023-11-22 12:45:00 -0.004406  2.194945 -1.690830  5  1.0        4  0.999848
2023-11-22 13:45:00 -0.587374 -1.961992 -1.496652  5  1.5        6  0.999657
2023-11-22 14:45:00  0.713796 -0.990686 -0.639262  5  2.0        8  0.999391
2023-11-22 15:45:00 -0.627116 -0.847799 -0.564171  5  2.5       10  0.999048
2023-11-22 16:45:00 -0.213889 -1.210089  0.620395  5  3.0       12  0.998630
2023-11-22 17:45:00 -0.119809 -2.182819  0.786960  5  3.5       14  0.998135
2023-11-22 18:45:00 -0.093560 -0.390547 -1.219448  5  4.0       16  0.997564
2023-11-22 19:45:00 -0.284218 -0.258595 -0.363828  5  4.5       18  0.996917

In [50]:
df.apply(lambda x: x.max() - x.min())

A           1.340912
B           4.377764
C           2.477790
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [51]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2023-11-22 10:45:00    0.950335
2023-11-22 11:45:00   -1.596060
2023-11-22 12:45:00    2.190539
2023-11-22 13:45:00   -2.549366
2023-11-22 14:45:00   -0.276891
2023-11-22 15:45:00   -1.474915
2023-11-22 16:45:00   -1.423977
2023-11-22 17:45:00   -2.302628
2023-11-22 18:45:00   -0.484107
2023-11-22 19:45:00   -0.542813
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [52]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data.tail(10)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\adadi/data/data_000637.txt'

Let's now do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
data['timens']

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf = pd.concat([rdf,s.to_frame().T], ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [53]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
print(left)
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
print(right)
pd.merge(left,right,on="key")

   key  lval
0  foo     1
1  bar     2
   key  rval
0  foo     4
1  bar     5

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Grouping

By â€œgroup byâ€ we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure


Grouping is one of the most powerful and at the same time most sofisticated action you can perform with DataFrames. Mastering it is key for an effective usage of Pandas and vectorized data analysis. Reading the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html) or going through a [tutorial](https://realpython.com/pandas-groupby/) is warmly recommended.

In [54]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

     A      B         C         D
0  foo    one  0.960846  0.671221
1  bar    one -0.410993  0.207785
2  foo    two -1.325220  0.565579
3  bar  three -1.065978 -1.043583
4  foo    two -1.849865 -1.082935
5  bar    two -1.861376  0.516817
6  foo    one  0.081251 -0.224938
7  foo  three -0.280522 -1.398586

In [55]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

C:\Users\adadi\AppData\Local\Temp\ipykernel_7344\2296005771.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gdf.groupby('A').sum()

            C         D
A
bar -3.338346 -0.318982
foo -2.413509 -1.469659

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method â€œcompressesâ€ a level in the DataFrameâ€™s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
pdf = pdf.cumsum()
plt.figure(); pdf.plot(); plt.legend(loc='best')